/* #graphpanel {
    border: solid black thin; 
} */
#toolbar {
    border-bottom: solid black thin;
}

table {
    border-radius: 10px;
    border: solid black thin;
}

html, body {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    background: #ffffff;
}