/* #graphpanel {
    border: solid black thin;
} */

.noselect {

 user-select: none; 
 /*disable selection of text*/

}
#toolbarDiv {
    border-bottom: solid black thin;
    border-top: 0px;
    background-color: lightgray;
    padding: 10px;
}

button {
    width: 50;
    height: 50;
    z-index: 3;
    margin-left: 3;
}

table {
    /* border-radius: 10px; */
    border: solid black thin;
    /* border:1px solid black; */
    border-collapse:collapse;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
  }

html, body {
    height: 100%;
    width: 100%;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;
}

.container {
    height: 90%;
    background: #ffffff;
}

#propertySheetWrapper {
    background-color: lightgrey;

}

.input {
    margin: 4px;
    width: 50px;
}

.prop {
    display: inline;
    width: max-content;
    padding: 4px 0 4px 0;
    margin: auto 10px auto 0px;

}

.label {
    width: auto;
    margin: auto 4px;
    background-color: 'orange';
    display: inline;
}

.apply {
    width: 50;
    height: 30;

}

#graphDiv {
    margin: 0;
}
