
#nodeContainer {
    background-color: pink;
    
}

#nothing {
    background-color: blue;
}

#propertySheetWrapper {
    background-color: lightgrey;
    
}

.input {
    margin: 4px;
    width: 50px;
}

.prop {
    display: inline;
    width: max-content;
    padding: 4px 0 4px 0; 
    margin: auto 10px auto 0px;
    
}

.label {
    width: auto;
    margin: auto 4px;
    background-color: 'orange';
    display: inline;
}

.apply {
    margin: auto 0px auto 30px;

}
